body {
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
    transition: background-image 0.5s ease-in-out;
    background-color: pink;
}

.bg1 {
    background-image: url('path_to_image_1.jpg');
}

.bg2 {
    background-image: url('path_to_image_2.jpg');
}

nav {
    background-color: green;
    color: pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    height: auto;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: green;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.nav-links a:hover {
    background-color: pink;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown button {
    background-color: pink;
    color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.dropdown button:hover {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
    right: 0;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: green;
    color: pink;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: pink;
    color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-container button:hover {
    background-color: green;
}

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
    transition: opacity 1s ease-in-out;
}

body[data-random-bg="1"] .mySlides:nth-child(1),
body[data-random-bg="2"] .mySlides:nth-child(2) {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; /* Adjust the position */
    background-color: pink;
}






.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-container input {
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
    background-color: pink;
    color: green;
}
