/* Reset default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  background-image: url('/image/hosue2.jpg'); /* Replace 'your-image-file.jpg' with the actual path to your image */
    background-size: cover; /* This will make the image cover the entire background */
    background-attachment: fixed; /* This will make the image fixed, so it won't scroll with the page content */
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent horizontal scrollbars */
}

nav {
  background-color: #333; /* Dark gray background */
  color: #fff; /* White text color */
  display: flex;
  justify-content: space between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add margin for spacing */
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.company-name {
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 40px; /* Increase the gap for spacing */
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* White text color */
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #66D9EF; /* Light blue on hover */
}

.dropdown {
  margin-left: auto; /* Add margin for spacing to the right */
}

.dropdown a {
  text-decoration: none;
  color: #fff; /* White text color */
  font-size: 18px;
  transition: color 0.3s;
}

.dropdown a:hover {
  color: #66D9EF; /* Light blue on hover */
}


.map-container {
  height: 25%; /* Reduce the height as needed */
  width: 80%; /* Reduce the width as needed */
  border: 2px solid #000; /* Add a border if needed */
  position: absolute;
  top: 25%; /* Adjust the top position to leave space for the navigation bar */
  left: 10%; /* Adjust the left position to center the map horizontally */
  z-index: 1; /* Set a higher z-index value to bring it to the front */
}
